.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.main {
	position:relative;
	width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs {
	position:relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
	padding:10px;
}

input {
	text-align:center;
}

img {
	max-width:600px;
	width:90vw;
	margin:12px;
}

.App-header {
  max-width:600px;
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
